<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="modalfree" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow" id="cajita">
            <div class="modal-header p-5 pb-4 border-bottom-0" id="ing">            
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="">Ingresa</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="container py-5 h-800">
              <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                  <img src="./assets/img/cup.png" class="copa" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">      
      <!--Content-->
      <div class="modal-body p-5 pt-0" >
        <form class="cajita2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="usuario">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-4" id="floatingPassword" placeholder="contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
            
                               
            
                
            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Inicia sesión</button>
            <small  class="text-muted" id="term">Dando clic en Inicia sesión, usted acepta los términos de uso.</small>
              
              <a class="btn btn-primary btn-lg btn-block em-2" style="background-color: #3b5998" href="https://www.facebook.com/" id="red" role="button">
                  <i class="fab fa-facebook-f "></i>Continue with Facebook
              </a>
              <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="https://twitter.com/" id="red" role="button">
                 <i class="fab fa-twitter em-2"></i>Continue with Twitter</a>
                            
                  </form>
          </div>
        
      
  


