<!-- Modal de Iniciar Sesión-->
<div class="modal modal-signin" tabindex="-1" role="dialog" id="modalSignin" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">Separa tu Cancha</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="Nombre y apellido">
                        <label for="floatingInput">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="floatingPassword" placeholder="correo electronico">
                        <label for="floatingPassword">e-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input input type="tel" name="telefono" class="form-control rounded-4" id="floatingPassword" placeholder="Celularnum">
                        <label for="floatingPassword">Celular</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control rounded-4" id="floatingInput" placeholder="fecha separacion">
                        <label for="floatingInput">Fecha de sep</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control rounded-4" id="floatingInput" placeholder="Hora separacion">
                        <label for="floatingInput">Hora de sep</label>
                    </div>                             
                    
                        
                    
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Inicia sesión</button>
                    <small class="text-muted">Dando clic en Inicia sesión, usted acepta los términos de uso.</small>
                </form>
            </div>
        </div>
    </div>